# This file contains common pin mappings for the BigTreeTech Octopus.
# To use this config, the firmware should be compiled for the
# STM32F446 with a "32KiB bootloader" and a "12MHz crystal" clock reference.

# See docs/Config_Reference.md for a description of parameters.
[include mainsail.cfg]
[include macros/macros.cfg]

[include octopus_pro_pin_aliases.cfg]

[include head.cfg]
#[include can_head.cfg]

#[include uart_portal.cfg]
#[include spi_portal.cfg]
[include spi_portal_48V_sensorless.cfg]

[include timelapse.cfg] # https://github.com/mainsail-crew/moonraker-timelapse/blob/main/docs/configuration.md
[include iFilter.cfg]


# pi@reborn:~ $ ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_x_*.csv -o /tmp/shaper_calibrate_x.png
# Fitted shaper 'zv' frequency = 50.8 Hz (vibrations = 26.9%, smoothing ~= 0.066)
# To avoid too much smoothing with 'zv', suggested max_accel <= 10100 mm/sec^2
# Fitted shaper 'mzv' frequency = 52.2 Hz (vibrations = 5.3%, smoothing ~= 0.075)
# To avoid too much smoothing with 'mzv', suggested max_accel <= 8000 mm/sec^2
# Fitted shaper 'ei' frequency = 69.6 Hz (vibrations = 7.6%, smoothing ~= 0.066)
# To avoid too much smoothing with 'ei', suggested max_accel <= 9000 mm/sec^2
# Fitted shaper '2hump_ei' frequency = 82.8 Hz (vibrations = 1.7%, smoothing ~= 0.079)
# To avoid too much smoothing with '2hump_ei', suggested max_accel <= 7600 mm/sec^2
# Fitted shaper '3hump_ei' frequency = 88.8 Hz (vibrations = 0.0%, smoothing ~= 0.104)
# To avoid too much smoothing with '3hump_ei', suggested max_accel <= 5800 mm/sec^2
# Recommended shaper is 2hump_ei @ 82.8 Hz
# pi@reborn:~ $ ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_y_*.csv -o /tmp/shaper_calibrate_y.png
# Fitted shaper 'zv' frequency = 89.8 Hz (vibrations = 15.1%, smoothing ~= 0.025)
# To avoid too much smoothing with 'zv', suggested max_accel <= 31400 mm/sec^2
# Fitted shaper 'mzv' frequency = 79.8 Hz (vibrations = 0.9%, smoothing ~= 0.034)
# To avoid too much smoothing with 'mzv', suggested max_accel <= 18800 mm/sec^2
# Fitted shaper 'ei' frequency = 97.8 Hz (vibrations = 1.2%, smoothing ~= 0.035)
# To avoid too much smoothing with 'ei', suggested max_accel <= 17800 mm/sec^2
# Fitted shaper '2hump_ei' frequency = 112.2 Hz (vibrations = 0.0%, smoothing ~= 0.045)
# To avoid too much smoothing with '2hump_ei', suggested max_accel <= 14000 mm/sec^2
# Fitted shaper '3hump_ei' frequency = 138.4 Hz (vibrations = 0.0%, smoothing ~= 0.045)
# To avoid too much smoothing with '3hump_ei', suggested max_accel <= 14000 mm/sec^2
# Recommended shaper is mzv @ 79.8 Hz
[input_shaper]
shaper_type_x: 2hump_ei #mzv #To avoid too much smoothing with 'mzv', suggested max_accel <= 20300 mm/sec^2
shaper_freq_x: 82.2 #88 #84.8  #50.0
shaper_type_y: mzv  #mzv #To avoid too much smoothing with 'mzv', suggested max_accel <= 29200 mm/sec^2
shaper_freq_y: 79.8 # mzv 86 

[printer] 
kinematics: corexy
max_velocity: 300
max_accel: 7000 #6300
max_accel_to_decel: 3500 #6300
max_z_velocity: 10
max_z_accel: 50
square_corner_velocity: 5 #20

[mcu]
baud: 250000
serial: /dev/serial/by-id/usb-Klipper_stm32f429xx_39001C001151303439373431-if00

[mcu host]
serial: /tmp/klipper_host_mcu

[virtual_sdcard]
# path: /home/pi/gcode_files
path: ~/printer_data/gcodes


[heater_bed]
heater_pin: HE0 #нагреватель сола подключен к HE0
sensor_pin: T0
sensor_type: ATC Semitec 104GT-2
#control: watermark
max_power: 1 # 0.9
min_temp: 0
max_temp: 135
# [fan]
# pin: PA8

[bed_screws]
screw1: 50, 50
screw2: 250, 50
screw3: 250, 250
screw3: 50, 250
screw3: 125, 125

[force_move]
enable_force_move: true

# Driver2
[tmc2209 stepper_z]
uart_pin: M1_CS
##diag_pin: ESTOP2
run_current: 0.8
hold_current: 0.4
# stealthchop_threshold: 999999

[stepper_z]
step_pin: M1_STEP
dir_pin: !M1_DIR
enable_pin: !M1_EN
microsteps: 16
rotation_distance: 8 #7.9944
full_steps_per_rotation:200
endstop_pin: !ESTOP1

position_min: -2.0
#position_endstop: 0.0
position_max: 350                                                               # Z-axis print volume size
homing_speed: 8
second_homing_speed: 10


# Driver3
# The Octopus only has 4 heater outputs which leaves an extra stepper
# This can be used for a second Z stepper, dual_carriage, extruder co-stepper,
# or other accesory such as an MMU

[tmc2209 stepper_z1]
uart_pin: M2_CS
##diag_pin: ESTOP3
run_current: 0.8
hold_current: 0.4
# stealthchop_threshold: 999999

[stepper_z1]
step_pin: M2_STEP
dir_pin: !M2_DIR
enable_pin: !M2_EN
microsteps: 16
rotation_distance: 8 #7.9944
full_steps_per_rotation:200
endstop_pin: !ESTOP2

[temperature_sensor Octopus_Pro]
sensor_type: temperature_mcu
min_temp: 15
max_temp: 60

[temperature_sensor Raspberry]
sensor_type: temperature_host
min_temp: 10
max_temp: 80

[adxl345]
cs_pin: PA15
spi_bus: spi3
axes_map: y,x,z


# TEST_RESONANCES AXIS=X
# TEST_RESONANCES AXIS=Y
# ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_x_*.csv -o /tmp/shaper_calibrate_x.png
# ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_y_*.csv -o /tmp/shaper_calibrate_y.png

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 75 #75
probe_points:
    150,150,100  # an example

[output_pin _BEEPER_pin]
pin: FAN0
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001

# [stallguard_dumper]
# driver: tmc5160 stepper_x
# poll_time: 0.1
# logging: true


# [filament_switch_sensor material_0]
# switch_pin: ESTOP4

# # # # # #...
# # # # # #https://orbiterprojects.com/orbiter-v2-0/


# # # # # # [tmc2209 extruder]
# # # # # # uart_pin: M4_SC
# # # # # # ##diag_pin: ESTOP4
# # # # # # run_current: 0.85
# # # # # # #stealthchop_threshold: 999999
# # # # # # # Driver4
# # # # # # [extruder]
# # # # # # step_pin: M4_STEP
# # # # # # dir_pin: M4_DIR
# # # # # # enable_pin: !M4_EN
# # # # # # gear_ratio: 7.5:1
# # # # # # full_steps_per_rotation: 200
# # # # # # microsteps: 16
# # # # # # #rotation_distance = full_steps_per_rotation * microsteps / steps_per_millimeter
# # # # # # rotation_distance: 33.500
# # # # # # nozzle_diameter: 0.400
# # # # # # filament_diameter: 1.750
# # # # # # heater_pin: HE_CHC 

# # # # # # #https://3dprintboard.com/showthread.php?53528-BTT-Octopus-Pro-PT100#:~:text=%D0%B3.%2C%C2%A0%2011%3A15-,%234,-%D0%9F%D0%B5%D0%B4%D1%80%D0%BE%D0%91
# # # # # # #Если ваш датчик является 2-проводным датчиком, вы просто подключаете провода к 2 средним контактам в разъеме J47.
# # # # # # sensor_pin:  PT100
# # # # # # sensor_type: MAX31865  #резистор 4300
# # # # # # spi_software_sclk_pin: SPI_SCLK
# # # # # # spi_software_mosi_pin: SPI_MOSI
# # # # # # spi_software_miso_pin: SPI_MISO
# # # # # # rtd_nominal_r: 1000 # проверьте руководство
# # # # # # rtd_num_of_wires: 2 # укажите количество проводов, которые есть у вашего датчика, у моего только 2
# # # # # # rtd_reference_r: 4300 # проверьте руководство
# # # # # # rtd_use_50Hz_filter: True # проверьте руководство

# # # # # # #pressure_advance: 0.05
# # # # # # # Default is 0.040, leave stock
# # # # # # #pressure_advance_smooth_time: 0.040
# # # # # # #max_extrude_only_distance: 500.0

# # # # # # control: pid
# # # # # # pid_Kp: 22.2
# # # # # # pid_Ki: 1.08
# # # # # # pid_Kd: 114
# # # # # # min_temp: 0
# # # # # # max_temp: 270






# # # # # # Driver5
# # # # # #[extruder1]
# # # # # #step_pin: PC13
# # # # # #dir_pin: PF0
# # # # # #enable_pin: !PF1
# # # # # #heater_pin: PA3 # HE1
# # # # # #sensor_pin: PF5 # T1
# # # # # #...

# # # # # #[filament_switch_sensor material_1]
# # # # # #switch_pin: PG13

# # # # # # Driver6
# # # # # #[extruder2]
# # # # # #step_pin: PE2
# # # # # #dir_pin: PE3
# # # # # #enable_pin: !PD4
# # # # # #heater_pin: PB10 # HE2
# # # # # #sensor_pin: PF6 # T2
# # # # # #...

# # # # # #[filament_switch_sensor material_2]
# # # # # #switch_pin: PG14

# # # # # # Driver7
# # # # # #[extruder3]
# # # # # #step_pin: PE6
# # # # # #dir_pin: PA14
# # # # # #enable_pin: !PE0
# # # # # #heater_pin: PB11 # HE3
# # # # # #sensor_pin: PF7 # T3
# # # # # #...

# # # # # #[filament_switch_sensor material_3]
# # # # # #switch_pin: PG15



# # # # # [fan]
# # # # # pin: FAN0

# # # # # [heater_fan fan1]
# # # # # pin: FAN1

# # # # # [heater_fan fan2]
# # # # # pin: FAN2

# # # # #[heater_fan fan3]
# # # # #pin: FAN3

# # # # #[heater_fan fan4]
# # # # #pin: FAN4

# # # # #[controller_fan fan5]
# # # # #pin: FAN5

# # # # # # ########################################
# # # # # # # TMC2209 configuration
# # # # # # ########################################

# # # # # # #[tmc2209 stepper_x]
# # # # # # #uart_pin: PC4
# # # # # # ##diag_pin: PG6
# # # # # # #run_current: 0.800
# # # # # # #stealthchop_threshold: 999999

# # # # # # #[tmc2209 stepper_y]
# # # # # # #uart_pin: PD11
# # # # # # ##diag_pin: PG9
# # # # # # #run_current: 0.800
# # # # # # #stealthchop_threshold: 999999

# # # # # # #[tmc2209 stepper_z]
# # # # # # #uart_pin: PC6
# # # # # # ##diag_pin: PG10
# # # # # # #run_current: 0.650
# # # # # # #stealthchop_threshold: 999999

# # # # # # #[tmc2209 stepper_]
# # # # # # #uart_pin: PC7
# # # # # # ##diag_pin: PG11
# # # # # # #run_current: 0.650
# # # # # # #stealthchop_threshold: 999999

# # # # # # #[tmc2209 extruder]
# # # # # # #uart_pin: PF2
# # # # # # #run_current: 0.800
# # # # # # #stealthchop_threshold: 999999

# # # # # # #[tmc2209 extruder1]
# # # # # # #uart_pin: PE4
# # # # # # #run_current: 0.800
# # # # # # #stealthchop_threshold: 999999

# # # # # # #[tmc2209 extruder2]
# # # # # # #uart_pin: PE1
# # # # # # #run_current: 0.800
# # # # # # #stealthchop_threshold: 999999

# # # # # # #[tmc2209 extruder3]
# # # # # # #uart_pin: PD3
# # # # # # #run_current: 0.800
# # # # # # #stealthchop_threshold: 999999

# # # # # # ########################################
# # # # # # # TMC2130 configuration
# # # # # # ########################################

# # # # # # #[tmc2130 stepper_x]
# # # # # # #cs_pin: PC4
# # # # # # #spi_bus: spi1
# # # # # # ##diag1_pin: PG6
# # # # # # #run_current: 0.800
# # # # # # #stealthchop_threshold: 999999

# # # # # # #[tmc2130 stepper_y]
# # # # # # #cs_pin: PD11
# # # # # # #spi_bus: spi1
# # # # # # ##diag1_pin: PG9
# # # # # # #run_current: 0.800
# # # # # # #stealthchop_threshold: 999999

# # # # # # #[tmc2130 stepper_z]
# # # # # # #cs_pin: PC6
# # # # # # #spi_bus: spi1
# # # # # # ##diag1_pin: PG10
# # # # # # #run_current: 0.650
# # # # # # #stealthchop_threshold: 999999

# # # # # # #[tmc2130 stepper_]
# # # # # # #cs_pin: PC7
# # # # # # #spi_bus: spi1
# # # # # # ##diag1_pin: PG11
# # # # # # #run_current: 0.800
# # # # # # #stealthchop_threshold: 999999

# # # # # # #[tmc2130 extruder]
# # # # # # #cs_pin: PF2
# # # # # # #spi_bus: spi1
# # # # # # #run_current: 0.800
# # # # # # #stealthchop_threshold: 999999

# # # # # # #[tmc2130 extruder1]
# # # # # # #cs_pin: PE4
# # # # # # #spi_bus: spi1
# # # # # # #run_current: 0.800
# # # # # # #stealthchop_threshold: 999999

# # # # # # #[tmc2130 extruder2]
# # # # # # #cs_pin: PE1
# # # # # # #spi_bus: spi1
# # # # # # #run_current: 0.800
# # # # # # #stealthchop_threshold: 999999

# # # # # # #[tmc2130 extruder3]
# # # # # # #cs_pin: PD3
# # # # # # #spi_bus: spi1
# # # # # # #run_current: 0.800
# # # # # # #stealthchop_threshold: 999999



# # # # # # # See the sample-lcd.cfg file for definitions of common LCD displays.

# # # # # # # A [probe] section can be defined instead with a pin: setting identical
# # # # # # # to the sensor_pin: for a bltouch
# # # # # # #[bltouch]
# # # # # # #sensor_pin: PB7
# # # # # # #control_pin: PB6
# # # # # # #z_offset: 0

# # # # # # #[neopixel my_neopixel]
# # # # # # #pin: PB0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.231
#*# pid_ki = 1.197
#*# pid_kd = 62.032
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 40.580
#*# pid_ki = 1.033
#*# pid_kd = 398.702
#*#
#*# [stepper_z]
#*# position_endstop = 0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.200000, 0.157500, 0.065000, 0.072500, 0.100000, 0.212500
#*# 	0.107500, 0.082500, 0.077500, 0.045000, 0.042500, 0.127500
#*# 	0.035000, 0.097500, 0.085000, 0.062500, 0.052500, 0.072500
#*# 	-0.062500, 0.032500, 0.070000, 0.085000, 0.040000, 0.032500
#*# 	0.097500, 0.182500, 0.210000, 0.237500, 0.237500, 0.215000
#*# 	0.070000, 0.157500, 0.250000, 0.232500, 0.232500, 0.192500
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 3
#*# min_y = 40.0
#*# x_count = 6
#*# max_y = 280.0
#*# mesh_x_pps = 2
#*# max_x = 280.0
#*#
#*# [bed_mesh 120]
#*# version = 1
#*# points =
#*# 	  0.155000, 0.212500, 0.165000, 0.172500, 0.170000, 0.137500
#*# 	  0.092500, 0.165000, 0.225000, 0.177500, 0.140000, 0.132500
#*# 	  0.022500, 0.187500, 0.245000, 0.265000, 0.190000, 0.170000
#*# 	  -0.105000, 0.090000, 0.230000, 0.195000, 0.182500, 0.087500
#*# 	  0.020000, 0.220000, 0.335000, 0.375000, 0.342500, 0.227500
#*# 	  -0.045000, 0.162500, 0.272500, 0.287500, 0.257500, 0.175000
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 3
#*# min_y = 40.0
#*# x_count = 6
#*# max_y = 280.0
#*# mesh_x_pps = 2
#*# max_x = 280.0
#*#
#*# [bed_mesh 110]
#*# version = 1
#*# points =
#*# 	  0.207500, 0.197500, 0.127500, 0.092500, 0.105000, 0.177500
#*# 	  0.135000, 0.132500, 0.150000, 0.117500, 0.102500, 0.130000
#*# 	  0.067500, 0.155000, 0.200000, 0.150000, 0.140000, 0.112500
#*# 	  -0.040000, 0.045000, 0.160000, 0.125000, 0.100000, 0.052500
#*# 	  0.095000, 0.230000, 0.250000, 0.315000, 0.300000, 0.242500
#*# 	  0.065000, 0.187500, 0.217500, 0.265000, 0.232500, 0.187500
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 3
#*# min_y = 40.0
#*# x_count = 6
#*# max_y = 280.0
#*# mesh_x_pps = 2
#*# max_x = 280.0
#*#
#*# [bed_mesh 100]
#*# version = 1
#*# points =
#*# 	  0.152500, 0.142500, 0.077500, 0.102500, 0.100000, 0.107500
#*# 	  0.097500, 0.110000, 0.125000, 0.107500, 0.100000, 0.110000
#*# 	  0.060000, 0.145000, 0.192500, 0.140000, 0.112500, 0.117500
#*# 	  -0.042500, 0.077500, 0.157500, 0.140000, 0.107500, 0.055000
#*# 	  0.062500, 0.210000, 0.277500, 0.277500, 0.275000, 0.197500
#*# 	  0.007500, 0.152500, 0.235000, 0.255000, 0.217500, 0.190000
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 3
#*# min_y = 40.0
#*# x_count = 6
#*# max_y = 280.0
#*# mesh_x_pps = 2
#*# max_x = 280.0
#*#
#*# [bed_mesh 90]
#*# version = 1
#*# points =
#*# 	  0.170000, 0.172500, 0.087500, 0.112500, 0.117500, 0.172500
#*# 	  0.090000, 0.102500, 0.130000, 0.075000, 0.077500, 0.122500
#*# 	  0.032500, 0.135000, 0.165000, 0.137500, 0.090000, 0.082500
#*# 	  -0.067500, 0.032500, 0.127500, 0.100000, 0.077500, 0.060000
#*# 	  0.035000, 0.185000, 0.227500, 0.252500, 0.257500, 0.195000
#*# 	  -0.040000, 0.117500, 0.200000, 0.195000, 0.177500, 0.157500
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 3
#*# min_y = 40.0
#*# x_count = 6
#*# max_y = 280.0
#*# mesh_x_pps = 2
#*# max_x = 280.0
#*#
#*# [bed_mesh 80]
#*# version = 1
#*# points =
#*# 	  0.105000, 0.165000, 0.055000, 0.045000, 0.080000, 0.187500
#*# 	  0.047500, 0.102500, 0.152500, 0.115000, 0.080000, 0.135000
#*# 	  -0.030000, 0.112500, 0.160000, 0.130000, 0.147500, 0.115000
#*# 	  -0.120000, 0.027500, 0.122500, 0.117500, 0.080000, 0.060000
#*# 	  -0.030000, 0.137500, 0.235000, 0.265000, 0.255000, 0.200000
#*# 	  -0.100000, 0.077500, 0.162500, 0.195000, 0.160000, 0.110000
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 3
#*# min_y = 40.0
#*# x_count = 6
#*# max_y = 280.0
#*# mesh_x_pps = 2
#*# max_x = 280.0
#*#
#*# [bed_mesh 70]
#*# version = 1
#*# points =
#*# 	  0.105000, 0.100000, 0.035000, 0.072500, 0.067500, 0.117500
#*# 	  0.015000, 0.065000, 0.095000, 0.062500, 0.067500, 0.105000
#*# 	  -0.042500, 0.085000, 0.145000, 0.150000, 0.090000, 0.090000
#*# 	  -0.162500, 0.007500, 0.105000, 0.122500, 0.102500, 0.015000
#*# 	  -0.052500, 0.130000, 0.200000, 0.222500, 0.210000, 0.170000
#*# 	  -0.130000, 0.047500, 0.127500, 0.157500, 0.130000, 0.112500
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 3
#*# min_y = 40.0
#*# x_count = 6
#*# max_y = 280.0
#*# mesh_x_pps = 2
#*# max_x = 280.0
